@model List<Shopping.Entity.Models.Product>
@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>ProductList</h2>
<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Barcode</th>
        <th>Stock</th>
        <th>Price</th>
        <th>Category</th>
    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Name</td>
            <td>@x.Barcode</td>
            <td>@x.Stock</td>
            <td>@x.Price</td>
            <td>@x.Category.Name</td>
        </tr>
            }
        
    </table>
